.homeTitle {
  color: #fff;
  font-size: 200 !important;
}

.homeContainer {
  margin-top: 10rem;
  margin-bottom: 4rem;
  margin-left: 6rem;
  text-align: left;
}

.row {
  align-items: center;
  padding-left: 15%;
  padding-right: 0%;
}

.col-lg-6 {
  display: flex;
  justify-content: center;
  padding: 0;
}

h2 {
  color: #fff !important;
}

p {
  color: #fff !important;
}

square {
  height: 50%;
  justify-content: center;
  border-radius: 50px;
  filter: grayscale(100%);
}

.btnContainer {
  padding-top: 20px;
}

.smBtn {
  margin-right: 13px;
  border-radius: 15px;
}

