.homeTitle {
  color: #fff;
  font-size: 200 !important;
}

.row {
  align-items: center;
  /* padding-left: 15%;
  padding-right: 0%; */
}

.i

/* .about {
  align-items: center;
  padding: none;
} */


h2 {
  color: #fff !important;
}

p {
  color: #fff !important;
}
